@{
    Layout = null;
}

<html>
    <head>
        <meta charset="utf-8">
        <title>IPTGram API</title>
    </head>
    <script src="../Users/Daniela/Desktop/Projecto final/IPTGramApi-master/images.js"></script>
    <body>
        <h1>IPTGram API</h1>

        <p>
            Para mais informações, visite:
        </p>

        <ul>
            <li>Repositório no GitHub: <a target="_blank" rel="nofollow noopener noreferrer" href="https://github.com/ipt-ti2-2018-2019/IPTGramApi">https://github.com/ipt-ti2-2018-2019/IPTGramApi</a></li>
            <li>Moodle da Unidade Curricular: <a target="_blank" rel="nofollow noopener noreferrer" href="https://doctrino.ipt.pt/course/view.php?id=2945#section-22">https://doctrino.ipt.pt/course/view.php?id=2945#section-22</a></li>
        </ul>
    </body>
</html>
